@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(15, 144, 173);
}
h2 {
    color: rgb(255, 255, 255);
    font-size: 35px;;
}
.noidung{
            text-align: center;
      font-family: 'Roboto', sans-serif;font-size:
              20px; font-weight: 600 ;
}

.list-button{ display: flex;}

.button {
    height: 35px;
    width: 100px;
    margin-left: 6px;
    border-radius: 5px;
    border:none;
    font-size: 30px;
}
.button:hover {   
    background-color: rgb(211, 211, 211);
}
.board {
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.game {
          
    /* text-align: center; */
    margin-top: 20px;
}
.board-row {
    display: flex;
    justify-content: center;
}

.board-status {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.status {
    margin-right: 20px; font-weight: 100;
    font-size: 30px;
    color: white;
}

.squares button {
    border-radius: 0px;
}

.square {
    height: 50px;
    width: 50px;

    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 28px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.square:focus {
    outline: none;
}

.restart-btn {
    width: 28px;
    height: 28px;
}